.cart-item {
  padding: 1rem 0 0.25rem 0.1rem;
  border-bottom: 1px solid rgb(228, 225, 225);
  background-color: transparent;
}

.cart-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  padding-right: 0;
}

.cart-title-container {
  display: flex;
  align-items: center;
}

.cart-img {
  height: 2.5rem;
  width: 2.5rem;
}

.cart-title {
  font-size: 0.75rem;
  padding: 0 1rem;
  font-weight: bold;
  width: 10rem;
}

.cart-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7rem;
  margin-right: 0.5rem;
}

.cart-amount-container {
  display: flex;
  align-items: center;
  margin-left: -0.25rem;
}

.increment-container {
  color: var(--primary-1);
  margin-right: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2rem;
  justify-content: space-between;
  font-size: 0.9rem;
}

.cart-amount {
  border: 1px solid rgb(228, 220, 220);
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem;
}

.cart-price {
  font-weight: bold;
  font-size: 1rem;
}

.cart-delete-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.25rem;
}

.cart-delete {
  font-size: 0.75rem;
  margin-right: 0.25rem;
  color: var(--primary-1);
}

.cart-delete:hover {
  cursor: pointer;
}

.cart-increase {
  display: flex;
}

.cart-decrease {
  display: flex;
}

.cart-increase:hover {
  cursor: pointer;
}

.cart-decrease:hover {
  cursor: pointer;
}
